.PaginaVentas-container {
    background-image: url(/src/images/proximamente.jpg);
      background-size: cover;
      background-position: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }